.reg, .reg a{
    text-decoration: none;
    color: gray;
}
.reg a:hover {
    color: white;
}

.card-body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 55px;
    padding-bottom: 30px;
    color: white;
}

.card-body > h5 {
    display: inline-block;
}

.animation {
    opacity: 0;
}

.card:hover .animation {
    opacity: 1;
    transform: translateX(10%);
    transition: 0.5s;
}

.full_screen {
    width: 100%;
    height: 100vh;
    padding-top: 75px;
}

.page {
    padding-top: 75px;
}

.full_screen .city_stuff {
    background: rgba(120, 153, 212, 0.8);
    border-radius: 4px;
    backdrop-filter: opacity(.3);
    margin: 30px auto;
    padding: 9px 15px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    color: white;
}

.back {
    display: block;
    margin: 0 auto;
}

.add_city {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.add_city a {
    padding: 10px 25px;
}

