{% extends 'route/base.html' %}
{% load static %}
{% block content %}
<div class="container page col-md-6">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="buttons_form row col-md-4 col-sm-6 mx-auto">
            <div class="a-wrapper col-6">
        <a href="#" class="btn" onclick="history.go(-1)" style="padding: 0; border: none;"><img src="{% static 'img/remove.svg' %}" style="width: 50px;"></a>
            </div>
            <div class="a-wrapper col-6">
        <button type="submit" class="btn" style="padding: 0; border: none;"><img
                src="{% static 'img/check.svg' %}" style="width: 50px;"></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}